<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5p [%t] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/as2log/EAS2UD-DEBUG-%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5p [%thread] %logger{36} %m%n%ex{full}</pattern>
        </encoder>
    </appender>

    <appender name="AS2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/as2log/EAS2UD%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5p %m%n%ex{short}</pattern>
        </encoder>
    </appender>

    <appender name="TICKET" class="ch.qos.logback.classic.net.SMTPAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <smtpHost>smtp-citc.int.kn</smtpHost>
        <to>ibcom.support@kuehne-nagel.com</to>
        <to>knib.gsctt@kuehne-nagel.com</to>
        <from>{{ TICKET_SENDER }}</from>
        <subject>${HOSTNAME} - EDI_EAS2UD - error detected</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss} %m%n%n%ex{short}</pattern>
        </layout>
        <asynchronousSending>false</asynchronousSending>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <bufferSize>256</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <!--
    <logger name="org.apache.http" additivity="false" level="DEBUG">
        <appender-ref ref="DEBUG" />
    </logger>
     -->

    <root level="INFO">
        <appender-ref ref="AS2" />
        <appender-ref ref="TICKET" />
    </root>
</configuration>

